/* html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  } */
body{
  background-image: url(/css/img/fondo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  display: flex;
  flex-wrap: nowrap;
  text-align: center;  
  justify-content: center;

}
.container form{
  text-align: start;
  padding: 10px;
  /* background-color: #838383; */
}
.container form div{
  margin: 10px;
}

.container-form{
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
  width: 400px;
  height: 400px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px -1px 10px rgba(0, 0, 0, 0.163);
  align-items: center;
  background-color: #d3d3d3a8;
}
.container form ul {
/* display: inline; */
}
ul li {
  list-style: none;
  margin-top: 5px;
  
}
ul li a{
  display: block;
  text-decoration: none;  
  color: rgb(0, 0, 0);

}
